In [25]:
# Import libraries
import numpy as np
import pandas as pd
from scipy.stats import f_oneway
from scipy.stats import chi2_contingency
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import datasets

In [3]:
# Read the excel file
df = pd.read_excel("telecom_churn.xlsx")
df.head(10)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,6823-SIDFQ,Male,0,No,No,28,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),-118.900,-3329.20,No
1,9764-REAFF,Female,0,Yes,No,59,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),-53.780,-3173.02,No
2,0621-CXBKL,Female,0,No,No,53,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,0.000,0.00,No
3,0827-ITJPH,Male,0,No,No,36,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),0.005,0.18,No
4,9945-PSVIP,Female,0,Yes,Yes,25,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,0.990,24.75,No
5,9426-SXNHE,Female,0,No,No,2,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),18.750,53.15,No
6,2967-MXRAV,Male,0,Yes,Yes,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,18.800,18.80,No
7,3806-YAZOV,Female,0,No,No,3,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.800,56.00,No
8,3387-PLKUI,Female,0,Yes,Yes,13,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.800,251.25,No
9,7473-ZBDSN,Female,0,Yes,Yes,14,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,18.800,255.55,No

In [7]:
# To get an idea what are the data types of the columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7032 entries, 0 to 7031
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7027 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7026 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7027 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [4]:
# Columns with their respective no. of empty of columns
df.isnull().sum()

customerID          0
gender              5
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        6
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        5
Churn               0
dtype: int64

In [5]:
# Removing null values from dataset
df['TotalCharges'].fillna(df['MonthlyCharges'] * df['tenure'], inplace=True)
df = df.dropna()

In [6]:
df = df[df['MonthlyCharges'] >= 0]
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2,0621-CXBKL,Female,0,No,No,53,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,0.000,0.00,No
3,0827-ITJPH,Male,0,No,No,36,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),0.005,0.18,No
4,9945-PSVIP,Female,0,Yes,Yes,25,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,0.990,24.75,No
5,9426-SXNHE,Female,0,No,No,2,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),18.750,53.15,No
6,2967-MXRAV,Male,0,Yes,Yes,1,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,18.800,18.80,No

In [7]:
# Removing the CustomerID column
df_final = df.drop('customerID', axis=1)
df_final['SeniorCitizen'] = df_final['SeniorCitizen'].astype('object')
df_final.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2,Female,0,No,No,53,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,0.000,0.00,No
3,Male,0,No,No,36,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),0.005,0.18,No
4,Female,0,Yes,Yes,25,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,0.990,24.75,No
5,Female,0,No,No,2,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),18.750,53.15,No
6,Male,0,Yes,Yes,1,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,18.800,18.80,No

In [8]:
# Checking for duplicate values
# df_final.drop_duplicates(inplace=True)
df.duplicated().sum()

0

In [35]:
# Converting to binary numeric value
df_final['Churn'].replace(to_replace='Yes', value=1, inplace=True)
df_final['Churn'].replace(to_replace='No',  value=0, inplace=True)

df_final['Partner'].replace(to_replace='Yes', value=1, inplace=True)
df_final['Partner'].replace(to_replace='No',  value=0, inplace=True)

df_final['Dependents'].replace(to_replace='Yes', value=1, inplace=True)
df_final['Dependents'].replace(to_replace='No',  value=0, inplace=True)

df_final['PhoneService'].replace(to_replace='Yes', value=1, inplace=True)
df_final['PhoneService'].replace(to_replace='No',  value=0, inplace=True)

df_final['MultipleLines'].replace(to_replace='Yes', value=1, inplace=True)
df_final['MultipleLines'].replace(to_replace='No',  value=0, inplace=True)
df_final['MultipleLines'].replace(to_replace='No phone service',  value=0, inplace=True)

df_final['OnlineSecurity'].replace(to_replace='Yes', value=1, inplace=True)
df_final['OnlineSecurity'].replace(to_replace='No',  value=0, inplace=True)
df_final['OnlineSecurity'].replace(to_replace='No internet service',  value=0, inplace=True)

df_final['OnlineBackup'].replace(to_replace='Yes', value=1, inplace=True)
df_final['OnlineBackup'].replace(to_replace='No',  value=0, inplace=True)
df_final['OnlineBackup'].replace(to_replace='No internet service',  value=0, inplace=True)

df_final['DeviceProtection'].replace(to_replace='Yes', value=1, inplace=True)
df_final['DeviceProtection'].replace(to_replace='No',  value=0, inplace=True)
df_final['DeviceProtection'].replace(to_replace='No internet service',  value=0, inplace=True)

df_final['TechSupport'].replace(to_replace='Yes', value=1, inplace=True)
df_final['TechSupport'].replace(to_replace='No',  value=0, inplace=True)
df_final['TechSupport'].replace(to_replace='No internet service',  value=0, inplace=True)

df_final['StreamingTV'].replace(to_replace='Yes', value=1, inplace=True)
df_final['StreamingTV'].replace(to_replace='No',  value=0, inplace=True)
df_final['StreamingTV'].replace(to_replace='No internet service',  value=0, inplace=True)

df_final['StreamingMovies'].replace(to_replace='Yes', value=1, inplace=True)
df_final['StreamingMovies'].replace(to_replace='No',  value=0, inplace=True)
df_final['StreamingMovies'].replace(to_replace='No internet service',  value=0, inplace=True)

df_final['PaperlessBilling'].replace(to_replace='Yes', value=1, inplace=True)
df_final['PaperlessBilling'].replace(to_replace='No',  value=0, inplace=True)

In [10]:
df_final.head(100)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
2,Female,0,0,0,53,1,0,No,0,0,0,0,0,0,Two year,0,Mailed check,0.000,0.00,0
3,Male,0,0,0,36,1,0,No,0,0,0,0,0,0,Two year,1,Credit card (automatic),0.005,0.18,0
4,Female,0,1,1,25,1,0,No,0,0,0,0,0,0,Two year,1,Mailed check,0.990,24.75,0
5,Female,0,0,0,2,1,0,No,0,0,0,0,0,0,Month-to-month,0,Bank transfer (automatic),18.750,53.15,0
6,Male,0,1,1,1,1,0,No,0,0,0,0,0,0,One year,0,Mailed check,18.800,18.80,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,Female,0,1,1,60,1,0,No,0,0,0,0,0,0,Two year,1,Credit card (automatic),19.250,1103.25,0
98,Male,0,1,0,63,1,0,No,0,0,0,0,0,0,Two year,0,Mailed check,19.250,1237.65,0
99,Female,0,1,1,67,1,0,No,0,0,0,0,0,0,Two year,1,Bank transfer (automatic),19.250,1372.90,0
100,Female,0,0,0,1,1,0,No,0,0,0,0,0,0,Month-to-month,0,Electronic check,19.300,19.30,1
101,Male,0,0,0,1,1,0,No,0,0,0,0,0,0,Month-to-month,0,Credit card (automatic),19.300,19.30,0

In [20]:
# ANOVA Test Starts:
cols = ['PhoneService', 'MultipleLines','OnlineSecurity','OnlineBackup','DeviceProtection' ,'TechSupport','StreamingTV','StreamingMovies','PaperlessBilling']

f_stat, p_val = f_oneway(df_final[cols[0]], df_final[cols[2]])

print('F-Statistic:', f_stat)
print('P-Value:', p_val)

F-Statistic: 9180.972765961838
P-Value: 0.0

In [14]:
contigency= pd.crosstab(df_final['gender'], df_final['PaymentMethod']) 
c, p, dof, expected = chi2_contingency(contigency) 
print(p)
# gender and payment method are independant

0.5143154381920463

In [15]:
contigency= pd.crosstab(df_final['gender'], df_final['Churn']) 
contigency
# c, p, dof, expected = chi2_contingency(contigency) 
# print(p)

Churn      0    1
gender
Female  2540  938
Male    2612  929

In [20]:
contigency= pd.crosstab(df_final['Partner'], df_final['OnlineSecurity']) 
c, p, dof, expected = chi2_contingency(contigency) 
print(p)

2.9060693128074308e-33

In [22]:
contigency= pd.crosstab(df_final['PaymentMethod'], df_final['Churn'])
contigency
c, p, dof, expected = chi2_contingency(contigency) 
print(p)

# electronic check has produced the most churn

1.2762291516728306e-138

In [24]:
contigency= pd.crosstab(df_final['Contract'], df_final['Churn']) 
contigency
# c, p, dof, expected = chi2_contingency(contigency) 
# print(p)
# month-to-month contracts produce the most churn

Churn              0     1
Contract
Month-to-month  2217  1654
One year        1303   165
Two year        1632    48

In [36]:
df_final['gender'].replace(to_replace='Male', value=1, inplace=True)
df_final['gender'].replace(to_replace='Female',  value=0, inplace=True)

In [42]:
df_tmp = df_final.filter(['gender', 'Partner', 'Dependents', 'PhoneService','MultipleLines', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'PaperlessBilling',
       'MonthlyCharges', 'TotalCharges', 'Churn'], axis=1)
df_tmp.drop_duplicates(inplace=True)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df_tmp.iloc[:, :-1], df_tmp.iloc[:, -1:], test_size = 0.3, random_state=1)
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

cols = ['gender', 'Partner', 'Dependents', 'PhoneService','MultipleLines', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'PaperlessBilling',
       'MonthlyCharges', 'TotalCharges', 'Churn']
X_train_std = pd.DataFrame(X_train_std, columns=cols)
X_test_std = pd.DataFrame(X_test_std, columns=cols)

In [ ]:
print(df_final.info())